.coveralls.yml
jsconfig.json
.travis.yml
.jshintrc
.eslintrc.json
.babelrc
.editorconfig
**/todo.txt
**/notes.txt
CHANGELOG.md
README.md
yarn.lock

test/
**/.trash
.nyc_output/
.vscode/
coverage/
logo/
